// Primary
$primary: #fdf18d;
$primaryHover: #f8e865;

// Secondary
$secondary: #fa826f;
$secondaryHover: #ff8d7e;

// Success
$success: #70cd9a;

// Dark
$dark: #26303c;
$darkHover: #182029;

// Light
$light: #f0f3f7;
$lightHover: #e9ecf0;

// White
$whiteHover: #f0f3f7;

// Overlay
$overlay: rgba(33, 47, 62, 0.7);

// Backgrounds
$background: #222;
$backgroundLight: #f4f5f8;
$backgroundDark: #dadfe5;