.st-Items {
  display: block;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  text-align: left;
}

.st-Item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEE;
  padding-bottom: 1.2rem;

  &__content {
    // padding: .6rem;
    flex-grow: 1;
    border: none;
    background: 0 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;  
  }
    
  &__title {
    &--small {
      font-size: 1.2rem;
    }
    
    &--big {
      font-size: 1.8rem;
    }
  }

  &__description {
    flex-grow: 1;
    padding-bottom: .6rem;
  }

  &__pricing {
    color: #999;
    justify-content: flex-start;
  }

  &__extra {
    display: flex;
    flex: 1 1 0;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 15px;
  }

  &__actions {
    display: flex;
    align-items: stretch;
    flex-flow: row nowrap;
    // justify-content: flex-end;
    flex: initial;
  }

  &__image {
    position: relative;

    &--small img {
      width: 150px;
      margin-right: 20px;
    }
  }

  &__extra {
    display: flex;
  }
}